body {
  margin: 0;
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: minmax(150px, 1fr) 5fr;
  grid-template-rows: minmax(100px, 1fr) 6fr;
  gap: 4px;
}

.sidebar {
  background-color: aquamarine;
  padding-left: 20px;
  grid-row: 1 / -1;
  display: grid;
  grid-template-rows: minmax(100px, 1fr) repeat(2, 2.5fr) 1fr;
}
.logo-container {
  font-size: x-large;
  display: flex;
  align-items: center;
}
.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sidebar li {
  display: flex;
  align-items: center;
  margin: 0;
}
li p {
  margin: 0;
  margin-left: 5px;
}

.header {
  background-color: bisque;
}

.content {
  background-color: coral;
}