body {
  margin: 0;
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 6fr;
  gap: 4px;
}

.sidebar {
  background-color: aquamarine;
  grid-row: 1 / -1;
}

.menubar {
  background-color: bisque;
}

.content {
  background-color: coral;
}